body {
  background-color: #9d2cf8;
  font-family: Helvetica, sans-serif;
  color: #9d2cf8;
}

#quote-box {
  display: flex;
  flex-direction: column;
  margin: 8% auto auto auto;
  padding: 40px;
  width: 450px;
  border-radius: 4px;
  background-color: #ffffff;
}

#quote-content {
  font-size: 24px;
}

#quote-author {
  display: flex;
  margin-left: auto;
}

#quote-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#tweet-link {
  margin-right: auto;
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #9d2cf8;
  text-align: center;
  vertical-align: middle;
}
#tweet-link:hover {
  cursor: pointer;
  background-color: #ad3cff;
}

#tweet-font {
  font-size: 24px;
  color: #ffffff;
}

#new-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 10px;
  height: 18px;
  border-radius: 4px;
  vertical-align: middle;
  background-color: #9d2cf8;
  color: #ffffff;
  text-decoration: none;
}

#new-quote:hover {
  cursor: pointer;
  background-color: #ad3cff;
}